backend/.env
backend/node_modules
backend/app.yaml
backend/.gcloudignore
codespeak/node_modules
backend/src/service-account.json
codespeak/src/contexts/FirebaseConfig.ts
backend/build
backend/dist
backend/src/systemMessage.ts
